.navbar-brand{
    margin:10px;
    
}
.fa-cube{
    color:white;
    font-size:30px;
}
.title-class{
    font-weight: 300;
}

.bg-myred{
    background-color: rgb(60, 83, 216);
    color:#fff;
}
.bg-myredb:hover{
    background-color: rgb(12, 190, 66);
    color:#fff;
}

#btnSiguiente{
    margin-left: 5px;
}

/*Filtar*/
#inputBuscar {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


#thId:hover,#thNombre:hover,#thCifNif:hover,#thDireccionFacturacion:hover{
animation-name: colorsRow;
animation-duration: 1.5s;
animation-fill-mode: forwards;
}

@keyframes colorsRow {
    from {color: rgb(72, 115, 253);}
    to {color: rgb(0, 255, 157);}
  }




.mostar{display:block;}
.ocultar{display:none;}