/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 0;
    
    padding-top: 20px;
  }
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(156, 232, 238);
    display: flex;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(74, 183, 190);
    display:flex;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */ 
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  h2{
      color:#fff;
      text-decoration: underline;
  }

.myicon{
    color: white;
    font-size: 150px;
    opacity:0.8;
}
.myicon:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
opacity:1;
}

#clicizq{
    transition: transform .2s;
}
#clicizq:hover{
    
    transform: (1.1);
}